.footer {
  width: 100%;
  height: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  
  padding: 6rem 0;
 
   
}
.information-page {
  position: absolute;
  width: 1512px;
  height: 386px;
  left: 200px;
  top: 100px;
  background: #2a3d7b;

  margin-top: 20px;
}
.text h1 {
  position: absolute;
  width: 547px;
  height: 122px;
  left: 130px;
  top: 60px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 61px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.icon-a {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 150px;
  top: 200px;
  background: #ffffff;
}
.text1 {
  position: absolute;
  width: 155px;
  height: 25px;
  left: 220px;
  top: 222px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.icon-b {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 150px;
  top: 280px;
  background: #585757;
}
.screen {
  position: absolute;
  width: 293.27px;
  height: 181.94px;
  left: 1063.88px;
  top: 176.28px;
}
.screen2 {
  position: absolute;
  width: 173.27px;
  height: 81.94px;
  left: 983.88px;
  top: 236.28px;
  background: #ffffff;
}
.text2 {
  position: absolute;
  width: 143px;
  height: 25px;
  left: 420px;
  top: 390px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.right {
  position: absolute;
  width: 317px;
  height: 63px;
  left: 400px;
  top: 550px;
  background: #d9d9d9;
  box-shadow: 0px 4px 8px rgba(171, 190, 209, 0.4);
  border-radius: 24px;
}
.right p {
  position: absolute;
  width: 201px;
  height: 28px;
  left: 92px;
  top: 17px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}
.img-right {
  position: absolute;
  width: 46px;
  height: 40px;
  left: 420px;
  top: 550px;
}
.social {
  position: absolute;
  left: 750px;
  top: 560px;
}
.right1 {
  position: absolute;
  top: 650px;
  left: 420px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #000000;
}
.right2 {
    position: absolute;
    top: 650px;
    left: 810px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #000000;
  }
  .left1 {
    position: absolute;
    top: 650px;
    left: 1150px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #000000;
  }
  .left2 {
    position: absolute;
    top: 650px;
    left: 1420px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    color: #000000;
  }

