.product {
  height: 100%;
  width: 100%;
  min-height: 650px;
}
.product-heading h1 {
  position: absolute;
  width: 816px;
  height: 44px;
  left: 348px;
  top: 50px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #2a3d7b;
}
.product-heading p {
  position: absolute;

  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-top: 150px;
  left: 350px;
}
.product-container {
  position: absolute;
  width: 262px;
  height: 430px;
  left: 330px;
  top: 220px;
  background: #2a3d7b;
}
.product-container h2 {
  font-size: 20px;
  color: white;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.product-container p {
  font-size: 15px;
  color: #ffffff;
  padding: 35px;
  text-align: center;
}
.health {
  border: 4px solid #5ebeb7;
}
.image-container {
  position: absolute;
  width: 820px;
  height: 426px;
  left: 630px;
  top: 220px;
}
.info-card {
  position: absolute;
  width: 262px;
  height: 400px;
  left: 1170px;
  top: 235px;
  background: #ffffff;
}
.image2-container {
  position: absolute;
  left: 90px;
  top: 40px;
}
.informaton p {
  text-align: center;
  margin-top: 150px;
}
.italic p {
  color: #14c072;
  font-family: "Circular Std";
  font-style: italic;
  font-weight: 450;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}
